

/*
--------------------------------------
 Selectores reusables
--------------------------------------
*/
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
    /* background-color: aqua; */
}

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em; 
}

.main-links a:hover {
    color: var(--secondary-color);
}

.second-links a:hover {
    color: var(--light-text-color);
}

.icon-small, .icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0; 
}

/*
--------------------------------------
 01. Estilos header
--------------------------------------
*/
